<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularLearn</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <style>
        input.ng-invalid {
            border: 2px solid red;
        }
        span {
            border: 0px;
            font-style:italic;
            color:greenyellow;
        }
    </style>
</head>

<body>
    <div class="container">
        <form name="userForm">
            <input type="text" class='form-control' ng-model="user.name" placeholder="Name" required name='name'>
            <span ng-show="userForm.name.$error.required&&!userForm.name.$pristine">Name is required</span>
            <input type="email" class='form-control' ng-model="user.email" placeholder="email" required name='email'>
            <span ng-show="userForm.email.$error.email&&!userForm.email.$pristine">Email invalid</span>
        </form>

        <pre>
            {{ userForm.name }}
        </pre>

    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="script.js"></script>
</body>

</html>